In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from pathlib import Path
import cv2

In [14]:
datadir_parquet = Path('/home/sayan/Documents/Bengali_Grapheme/data/image_parquets/')
datadir_feather = Path('/home/sayan/Documents/Bengali_Grapheme/data/image_feathers/')
#TRAIN = ['train_image_data_0.parquet','train_image_data_1.parquet',
#         'train_image_data_2.parquet', 'train_image_data_3.parquet'];
#TEST = ['test_image_data_0.parquet','test_image_data_1.parquet',
#         'test_image_data_2.parquet', 'test_image_data_3.parquet'];
        
IMG_HEIGHT = 137;
IMG_WIDTH = 236;

## Convert all parquet files to feather for quick loading

In [3]:
train_image_0 = pd.read_parquet(datadir_parquet/'train_image_data_0.parquet',engine='pyarrow')
train_image_1 = pd.read_parquet(datadir_parquet/'train_image_data_1.parquet',engine='pyarrow')
train_image_2 = pd.read_parquet(datadir_parquet/'train_image_data_2.parquet',engine='pyarrow')
train_image_3 = pd.read_parquet(datadir_parquet/'train_image_data_3.parquet',engine='pyarrow')

In [4]:
train_image_0.to_feather(datadir_feather/'train_image_data_0.feather')
train_image_1.to_feather(datadir_feather/'train_image_data_1.feather')
train_image_2.to_feather(datadir_feather/'train_image_data_2.feather)
train_image_3.to_feather(datadir_feather/'train_image_data_3.feather')

In [11]:
train_image_0 = pd.read_feather(datadir_feather/'train_image_data_0.feather')
train_image_1 = pd.read_feather(datadir_feather/'train_image_data_1.feather')
train_image_2 = pd.read_feather(datadir_feather/'train_image_data_2.feather')
train_image_3 = pd.read_feather(datadir_feather/'train_image_data_3.feather')

In [12]:
train_image_1.tail()

,image_id,0,1,2,3,4,5,6,7,8,...,32322,32323,32324,32325,32326,32327,32328,32329,32330,32331
50205,Train_100415,255,255,255,255,255,255,254,254,254,...,255,255,255,255,255,255,255,254,255,253
50206,Train_100416,220,220,217,227,229,223,226,224,224,...,255,255,255,254,254,255,255,254,253,251
50207,Train_100417,249,248,244,244,244,245,248,251,253,...,255,255,255,255,255,255,255,255,255,255
50208,Train_100418,251,253,254,254,254,254,254,253,253,...,254,254,254,253,253,253,254,254,255,254
50209,Train_100419,249,254,255,255,255,255,254,254,255,...,254,254,254,253,252,252,252,252,252,253

In [9]:
image_list = [train_image_0, train_image_1, train_image_2, train_image_3]

In [50]:
type(train_image_0.iloc[1].values[1:])

numpy.ndarray

In [16]:
def create_image_directory(dirname, images):
    num_of_images = images.shape[0]
    for i in range(num_of_images):
        image = images.iloc[i].values
        img_save_dir = dirname + image[0] + ".png"
        cv2.imwrite(img_save_dir, image[1:].astype(float).reshape(IMG_HEIGHT,IMG_WIDTH))

In [17]:
create_image_directory('/home/sayan/Documents/Bengali_Grapheme/data/raw_images/',train_image_0)

In [18]:
create_image_directory('/home/sayan/Documents/Bengali_Grapheme/data/raw_images/',train_image_1)

In [19]:
create_image_directory('/home/sayan/Documents/Bengali_Grapheme/data/raw_images/',train_image_2)

In [20]:
create_image_directory('/home/sayan/Documents/Bengali_Grapheme/data/raw_images/',train_image_3)

## Separate the 3 roots from class_map.csv to different csv's

In [35]:
vowel_diacritics = class_map[class_map['component_type'] == 'vowel_diacritic'].reset_index().drop(['index'],axis=1)
grapheme_roots = class_map[class_map['component_type'] == 'grapheme_root'].reset_index().drop(['index'],axis=1)
consonant_diacritics = class_map[class_map['component_type'] == 'consonant_diacritic'].reset_index().drop(['index'],axis=1)

In [61]:
vowel_diacritics.to_csv('vowel_diacritics.csv')
grapheme_roots.to_csv('grapheme_roots.csv')
consonant_diacritics.to_csv('consonant_diacritics.csv')

---

In [121]:
train_image_1.to_feather

(200840, 5)

In [120]:
train_image_1.head()

,image_id,0,1,2,3,4,5,6,7,8,...,32322,32323,32324,32325,32326,32327,32328,32329,32330,32331
0,Train_0,254,253,252,253,251,252,253,251,251,...,253,253,253,253,253,253,253,253,253,251
1,Train_1,251,244,238,245,248,246,246,247,251,...,255,255,255,255,255,255,255,255,255,254
2,Train_2,251,250,249,250,249,245,247,252,252,...,254,253,252,252,253,253,253,253,251,249
3,Train_3,247,247,249,253,253,252,251,251,250,...,254,254,254,254,254,253,253,252,251,252
4,Train_4,249,248,246,246,248,244,242,242,229,...,255,255,255,255,255,255,255,255,255,255